<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ARCMS</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="icon" href="/images/temporary.jpg" />
    <link rel="stylesheet" href="/styles/admin.css" />
    <link rel="stylesheet" href="/styles/admin/university-section.css" />
    <link rel="stylesheet" href="/styles/admin/employee-section.css" />
    <link rel="stylesheet" href="/styles/admin/bcards-section.css" />
    <link rel="stylesheet" href="/styles/admin/admin-account-section.css" />
    <link rel="stylesheet" href="/styles/admin/markers-section.css" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <aside class="sidebar">
        <div class="sidebar-header">
          <div class="d-flex">
            <img src="/images/temporary.jpg" alt="Logo" />
            <span class="sidebar-title">ARCMS</span>
          </div>
          <!-- <button class="sidebar-toggle" id="sidebarToggle">
            <i class="bi bi-chevron-left"></i>
          </button> -->
        </div>
        <div class="user-info">
          <img
            src="/images/avatar.png"
            alt="User Avatar"
            class="avatar"
            id="admin-image"
          />
          <div>
            <div class="user-name" id="admin-name"></div>
            <div class="user-role" id="admin-email"></div>
          </div>
        </div>
        <nav>
          <h3>Main Menu</h3>
          <ul>
            <!-- <li><a href="#" id="dashboard-link"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li> -->
            <li>
              <a href="#" id="members-link" class="sidebar-active"
                ><i class="fas fa-users"></i> Members</a
              >
            </li>
            <!-- <li><a href="#" id="analytics-link"><i class="fas fa-chart-bar"></i> Analytics</a></li> -->
            <li>
              <a href="#" id="university-link"
                ><i class="fas fa-university"></i> University Contents</a
              >
            </li>
            <li>
              <a href="#" id="university-management-link"
                ><i class="fas fa-cogs"></i> University Management</a
              >
            </li>
            <li>
              <a href="#" id="markers-link"
                ><i class="fas fa-crosshairs"></i>Markers</a
              >
            </li>
            <li>
              <a href="#" id="bcards-link"
                ><i class="fas fa-id-card"></i>Business Cards</a
              >
            </li>
            <li>
              <a href="#" id="admin-account-link"
                ><i class="fas fa-gear"></i>My Account</a
              >
            </li>
          </ul>
          <!-- <h3>Settings</h3>
                <ul>
                    <li><a href="#"><i class="fas fa-cog"></i> General Settings</a></li>
                    <li><a href="#"><i class="fas fa-user-cog"></i> Account Settings</a></li>
                    <li><a href="#"><i class="fas fa-bell"></i> Notifications</a></li>
                </ul> -->
        </nav>
        <div class="logout">
          <a
            class="btn btn-primary"
            href="/arcms/api/v1/auth/admin/logout"
            style="text-decoration: none"
            ><span class="logout-side text-white" style="color: white">
              <i class="fas fa-sign-out-alt"></i>Log out</span
            ></a
          >
        </div>
      </aside>
      <div class="message-div success-message">
        <p class="alert-message">Placeholder</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="30px"
          viewBox="0 -960 960 960"
          width="30px"
          fill="#e3e3e3"
          class="close-message-btn"
        >
          <path
            d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
          />
        </svg>
      </div>
      <main>
        <!-- UNIVERSITY CONTENTS SECTION -->
        <%- include('./components/employees-section.ejs')%> <%-
        include('./components/university-section.ejs')%> <%-
        include('./components/university-content-section.ejs')%> <%-
        include('./components/markers-section.ejs')%> <%-
        include('./components/bcard-section.ejs')%> <%-
        include('./components/admin-account-section.ejs') %>
      </main>
    </div>

    <script>
      const adminName = document.getElementById("admin-name");
      const adminRole = document.getElementById("admin-email");
      const adminImage = document.getElementById("admin-image");
      window.adminImageElement = adminImage;

      async function getCurrentAdmin() {
        try {
          const response = await fetch("/arcms/api/v1/admin/getMe");

          if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
          }

          const json = await response.json(); // ✅ Fix: Await JSON parsing

          console.log(json);

          return json;
        } catch (error) {
          console.error("Error fetching admin data:", error);
          return null;
        }
      }
      getCurrentAdmin().then((currentAdmin) => {
        console.log("Current Admin:", currentAdmin);

        adminName.textContent = currentAdmin.data.admin_name;
        adminRole.textContent = currentAdmin.data.email;
        adminImage.src = currentAdmin?.imageUrl;
        window.currentAvatar = currentAdmin.imageUrl;
      });
    </script>
    <script src="/scripts/markers-section.js"></script>
    <script src="/scripts/bcard-section.js"></script>
    <script src="/scripts/admin-account-section.js"></script>
    <script src="/scripts/employees-section.js"></script>
    <script src="/scripts/university-section.js"></script>
    <script src="/scripts/events.js"></script>
    <script src="/scripts/admin-script.js"></script>
  </body>
</html>
